# Mailu config for getserviceflow.app. install.sh fills in the secrets.
SECRET_KEY=__SECRET_KEY__
SUBNET=192.168.203.0/24
DOMAIN=getserviceflow.app
HOSTNAMES=mail.getserviceflow.app
POSTMASTER=admin
TLS_FLAVOR=letsencrypt
AUTH_RATELIMIT_IP=60/hour
AUTH_RATELIMIT_USER=100/day
DISABLE_STATISTICS=True

ADMIN=true
WEBMAIL=roundcube
API=false
WEBDAV=none
ANTIVIRUS=none
SCAN_MACROS=false

MESSAGE_SIZE_LIMIT=50000000
RELAYNETS=
RELAYHOST=
FETCHMAIL_ENABLED=False
RECIPIENT_DELIMITER=+
DMARC_RUA=admin
DMARC_RUF=admin
DMARC_SEND_REPORTS=false
WELCOME=false
FULL_TEXT_SEARCH=en

WEBROOT_REDIRECT=/webmail
WEB_ADMIN=/admin
WEB_WEBMAIL=/webmail
WEB_API=/api
SITENAME=ServiceFlow Mail
WEBSITE=https://getserviceflow.app

COMPOSE_PROJECT_NAME=mailu
CREDENTIAL_ROUNDS=12
REAL_IP_HEADER=
REAL_IP_FROM=
REJECT_UNLISTED_RECIPIENT=
LOG_LEVEL=INFO
TZ=Etc/UTC
DEFAULT_SPAM_THRESHOLD=80
